<div class="product_container">
  <h3>Product ID: <%= product.id %></h3>
  <div id="<%= product.id %>" class="tab_window">
    <nav>
      <ul>
        <li><a class="tab_tag" href="<%=product.id  %>_general_info">General Info</a></li>
        <li><a class="tab_tag" href="<%=product.id  %>_technical_specs">Technical Specs</a></li>
        <li><a class="tab_tag" href="<%=product.id  %>_where_to_buy">Where to Buy</a></li>
      </ul>
    </nav>

    <div id="contents">
  
      <div id="<%=product.id  %>_general_info" class="tab_contents">
        <p><%= product.general_info %></p>
      </div>
      <!--tab-contents -->
      <div id="<%=product.id  %>_technical_specs" class="tab_contents">
        <p><%= product.technical_specs %></p>
      </div>
      <!--tab_contents -->
      <div id="<%=product.id  %>_where_to_buy" class="tab_contents">
        <p><%= product.where_to_buy %></p>
      </div>
      <!--tab_contents -->
    </div>
    <!--contents -->
  </div>
  <!--tab_window -->
</div>